# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

src/static/build/**
src/static/dist/*
backend/src/internal/router/dashboard/static/dist/*

**/.jwt_secret.key
**/__debug_bin*

**/test.db
**/llmapi.db